<%= render "shared/header" %>

<div class="toppage">
<h1 calss="top">スケジュール</h1>


<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>

  <% events.each do |event| %>
    <div>
      <%= link_to event.title, event_path(event.id) %>
    </div>
  <% end %>
<% end %>
