a {
  text-decoration: none;
  color: black;
}

/***ヘッダー***/
header {
  width: 100vw;
  display: flex;
  padding: 15px;
  background-color: rgb(207, 250, 236);

}

ul.nav-bar {
  display: flex;
  margin: 10px 15px;
}

a.user-nav {
  font-size: 15px;
  border: 1px solid rgb(245, 158, 107);
  border-radius: 5px;
  margin: 15px;
  padding: 5px 10px;
}
/***トップページ***/
.toppage {
  width: 100vw;
}

p {
  font-size: 30px;
  font-weight: 700;
  margin: 10px 20px;
}

/***一覧表示画面***/
.list-index {
  display: flex;
  margin: 0 10px 10px 20px;
}

.list-title {
  margin-right: 20px;
}

.list-contents {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 20px;
}

.list-set {
  display: flex;
  align-items: center;
}

.list-title,
.list-date,
.list-property {
  margin-right: 10px;
}

.list-title {
  width: 100px;
}

.list-property {
  display: flex;
  margin-left: 20px;
}

/***カレンダー部分***/
.calendar-heading {
  margin: 10px 20px;
}

nav {
  margin-left: 10px;
}

th.sun{
  color: red;
}

.wday-0 {
  color: red;
}

.day {
  margin-bottom: 5px;
}

.simple-calendar .prev-month,
.simple-calendar .next-month {
  background-color: rgba(202, 201, 201, 0.733);
}

.table-striped tbody td div {
  margin-top: 5px;
}

/***詳細画面***/
.container {
  width: 100vw;
}

h1 {
  font-size: 25px;
  font-weight: 600;
  margin: 10px 20px;
}

.event-content {
  margin: 10px 0;
}

span {
  margin-left: 30px;
  font-size: 20px;
}

.field {
  margin: 5px 20px;
}