a {
  text-decoration: none;
  color: black;
}

/***ヘッダー***/
header {
  width: 100vw;
  display: flex;
  padding: 15px;
  background-color: rgb(207, 250, 236);

}

ul.nav_bar {
  display: flex;
  margin: 10px 15px;
}

a.user_nav {
  font-size: 15px;
  border: 1px solid rgb(245, 158, 107);
  border-radius: 5px;
  margin: 15px;
  padding: 5px 10px;
}
/***トップページ***/
.toppage {
  width: 100vw;
}

p {
  font-size: 30px;
  font-weight: 700;
  margin: 10px 20px;
}

/***events_list***/
.list_index {
  display: flex;
  margin: 0 10px 10px 20px;
}

.list_title {
  margin-right: 20px;
}

.list_contents {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 20px;
}

.list_set {
  display: flex;
  align-items: center;
}

.list_title,
.list_date,
.list_property {
  margin-right: 10px;
}

.list_title {
  width: 100px;
}

.list_property {
  display: flex;
}

/***カレンダー部分***/
.calendar-heading {
  margin: 10px 20px;
}

nav {
  margin-left: 10px;
}

th.sun{
  color: red;
}

.wday-0 {
  color: red;
}

.day {
  margin-bottom: 5px;
}

.simple-calendar .prev-month,
.simple-calendar .next-month {
  background-color: rgba(202, 201, 201, 0.733);
}

.table-striped tbody td div {
  margin-top: 5px;
}

